[2017-02-03 00:39] synicalsyntax opened #1 "Demo"
To claim an issue on the repository, comment "**@zulipbot** claim-issue" on
the issue you want to claim, and **@zulipbot** will add the "in progress"
label and assign you as an assignee to the issue

[2017-02-03 00:41] synicalsyntax commented on #1
@zulipbot claim-issue

[2017-02-08 00:25] timabbott opened #2 "making a test issue"
test!

[2017-02-08 00:25] timabbott commented on #2
@zulipbot claim

[2017-02-08 00:25] timabbott commented on #2
@zulipbot claim-issue ?

[2017-02-08 00:26] timabbott commented on #2
sweet

[2017-02-08 00:26] #2 closed

[2017-02-11 05:22] synicalsyntax opened #3 "Collaborator test"
Testing automatically giving read-only collaborator access to those who want to claim an issue but aren't marked as collaborators.

[2017-02-11 05:23] synicaltests commented on #3
@zulipbot claim-issue

[2017-02-11 06:14] synicalsyntax commented on #3
@zulipbot claim-issue

[2017-02-12 03:54] synicalsyntax commented on #3
@zulipbot claim-issue

[2017-02-12 03:54] synicalsyntax commented on #3
@zulipbot claim

[2017-02-12 03:55] #3 closed

[2017-02-22 03:53] lonerz commented on #1
Testing multiple people claiming

[2017-02-22 03:53] lonerz commented on #1
@zulipbot claim-issue

[2017-02-22 03:54] lonerz commented on #1
@zulipbot claim

[2017-02-22 15:45] synicalsyntax commented on #3
@zulipbot claim-issue

[2017-02-22 15:45] synicalsyntax commented on #1
@lonerz zulipbot hasn't been deployed on this server yet.

[2017-02-23 07:39] lonerz opened #4 "Removing label"
There should probably be a way to remove labels also, now that we have a way to add labels.

[2017-02-23 08:25] lonerz opened #6 "Screening labels before adding"
We don't want to add labels that have not existed before in the organization. See [this issue](https://github.com/zulip/zulip/issues/3771). There should be a way to filter these labels out.

[2017-02-23 08:35] janga1997 commented on #6
@lonerz Is this something I could work on?

[2017-02-23 08:43] lonerz commented on #6
@janga1997 you can work on it, follow the README.md to install

[2017-02-23 08:50] lonerz commented on #4
@zulipbot claim

[2017-02-23 09:10] lonerz commented on #6
@zulipbot claim

[2017-02-23 09:29] janga1997 commented on #6
@lonerz @synicalsyntax What I was asking for, is a way to see if my changes actually work as intended.

[2017-02-23 16:02] synicalsyntax commented on #6
@janga1997 Currently I have created an organization on a test account of mine, and I have @zulipbot-test deployed on Heroku for testing purposes. But yes, I agree that we need to have a better way to test any changes of @zulipbot, like adding continuous integration and unit testing in the future.

If you have any suggestions on what we can do, please join us on the [zulipbot topic](https://chat.zu

[2017-02-23 18:21] lonerz opened #8 "Removing assignee"
We should be able to unclaim a task if we accidentally do it.

[2017-02-23 20:23] #1 closed

[2017-02-23 21:34] YagoGG opened #9 "Avoid automatic subscription when claiming an issue for the first time"
# Description

If you claim an issue with `@zulipbot claim` for the first time, you are automatically subscribed to the repo (i.e. you start watching it). Therefore, you receive email notifications for everything that happens in the repo, which is a bit annoying, and might be slightly intimidating for new contributors.

# Additional information

The hypothesis here is that being added as a contrib

[2017-02-23 21:44] lonerz commented on #9
@YagoGG there should be a function in the node-github api to deal with this problem: http://mikedeboer.github.io/node-github/

[2017-02-23 21:48] YagoGG commented on #9
I wonder if those have to be run as the (un)subscribed user, rather than as the bot.

It's probably specified in those docs, so I apologize in advance (I just made a quick skim).

I would be happy to work on this after I finish with my current PRs, but if anyone else is willing to fix this, feel free to take over :)

[2017-02-23 21:51] lonerz commented on #9
@YagoGG I'm almost certain that when you are added as a collaborator, then you are automatically subscribed.

[2017-02-23 21:54] YagoGG commented on #9
@lonerz Yup, that's the theory.

However, I wonder if there's anything we can do to avoid it, or at least undo it. If it's completely impossible, I guess that a friendly message pointing to the notification settings (`https://github.com/zulip/<repo>/subscription`) would do the trick.

[2017-02-23 21:58] synicalsyntax commented on #9
@YagoGG Unfortunately, I don't think zulipbot can remove your automatic subscription to a repository when you're added as a collaborator; the GitHub API only allows you to modify the notifications of the user you are authenticated as.

[2017-02-23 22:00] timabbott commented on #9
I think a good approach is to just add a special comment when we add them to the repo (it's only 1 time per user, so not too spammy), letting them know that they've been subscribed and they may want to edit their notification settings for the repo to just include issues they're following, and not the full firehose.

[2017-02-23 22:01] synicalsyntax commented on #9
Sounds good! Will add that in my next push.

[2017-02-24 03:30] synicalsyntax commented on #6
Fixed in f5228a0

[2017-02-24 03:30] #6 closed

[2017-02-24 03:54] synicalsyntax commented on #9
@YagoGG Oh, turns out you're not automatically subscribed to a repository's events when you're given push settings.

If you have the **Automatically watch repositories** option selected in https://github.com/settings/notifications, you'll automatically watch a repository when you are given push access to it, but you won't get notifications or watch the repo if you disable that setting. I've tested

[2017-02-24 16:24] YagoGG commented on #9
Hmmm, interesting. Nice catch, @synicalsyntax!

I don't remember having modified those settings. Could you guys check whether you have that setting activated by default or not?

[2017-02-24 16:34] synicalsyntax commented on #9
That settings is activated by default.

[2017-02-24 17:13] lonerz commented on #9
Yep, it is most definitely default.

[2017-02-24 17:38] #9 closed

[2017-02-26 06:13] lonerz commented on #8
Closed via commit: https://github.com/zulip/zulipbot/commit/611f6a27da2a24da8d1b1658240eb3e22b060027

[2017-02-26 06:13] #8 closed

[2017-02-26 06:13] lonerz commented on #4
@synicalsyntax will get you my PR tomorrow

[2017-02-26 20:27] synicalsyntax commented on #6
@zulipbot claim

[2017-02-26 20:40] synicalsyntax commented on #1
@zulipbot join "area: documentation (user)" (check if it's disabled)

[2017-02-26 23:47] lonerz commented on #4
@synicalsyntax finished. I ran most of the code myself and tested it manually. Don't know about the github api stuff though, since I couldn't really test those.

[2017-02-26 23:48] lonerz commented on #4
@zulipbot claim

[2017-02-27 02:37] #4 closed

[2017-02-27 08:35] lonerz opened #14 "Take content in double quotes AFTER @zulipbot mention"
We should take the content after the zulipbot mention, otherwise you get the problem in this [issue](https://github.com/zulip/zulip/issues/3830). We don't want to check ALL the content for double quotes, just things after the mention.

[2017-02-27 08:37] lonerz commented on #14
@zulipbot claim

[2017-02-27 08:40] lonerz opened #15 "Claim task should get rid of "help wanted" label"
When someone claims a task, the "help wanted" label should be removed (first check if it even exists). However, when someone abandons an issue, we should consider adding the "help wanted" label... Need feedback on this.

[2017-02-27 16:00] lonerz commented on #14
@zulipbot abandon

[2017-02-27 16:01] lonerz commented on #14
@zulipbot claim, @zulipbot label "enhancement"

[2017-02-27 16:02] lonerz commented on #15
@zulipbot label "help wanted"

[2017-02-27 16:53] synicalsyntax commented on #15
Tagging @timabbott for feedback.

[2017-02-27 19:45] timabbott commented on #15
Hmm, good question.  I'm sorta unsure whether the "help wanted" label is super useful, in that probably just about everything that isn't assigned should have the label; so we could either do this tagging approach, or perhaps get rid of it and just document that help is wanted on just about everything.

I guess I've been adding it mostly because it feels more friendly to have lots of things adverti

[2017-02-27 21:20] lonerz opened #17 "Mention corresponding area label teams when area labels are added to issues"
When an `area` label is added to an issue, the corresponding team should be mentioned and notified by zulipbot

[2017-02-27 21:21] lonerz commented on #14
@zulipbot remove "enhancement" "enhancemeeent" "enhancement" "enhancemennt", @zulipbot abandon

[2017-02-27 21:24] lonerz commented on #14
@zulipbot remove "enhancement" "enhancemeeent" "enhancement" "enhancemennt"

[2017-02-27 21:25] synicalsyntax commented on #14
I don't think Tim has recently deployed zulipbot, I'll remind him to do so he can add the label removal.

[2017-02-27 23:38] synicalsyntax opened #18 "Create website for zulipbot"
Fun fact: zulipbot is deployed on the https://zulip.org/zulipbot/ page.

When you visit it, you get redirected to this repository (relevant lines 18-20 in `src/index.js`). It'd be nice to set up a website to introduce zulipbot and its features as well as link back to this repository, which would make contributions to zulipbot more welcoming, I think.

Thoughts?

[2017-02-27 23:40] synicalsyntax commented on #18
@zulipbot label "feedback wanted" "bug"

[2017-02-27 23:40] synicalsyntax commented on #18
@zulipbot remove "bug"

[2017-02-27 23:41] synicalsyntax commented on #18
@zulipbot remove "test"

[2017-02-28 00:33] lonerz commented on #14
@zulipbot remove "enhancement" "enhancemeeent" "enhancement" "enhancemennt", @zulipbot claim

[2017-02-28 00:37] lonerz commented on #18
@synicalsyntax we can write up a Zulip doc with zulipbot. That's the first thing that comes to mind.

[2017-02-28 01:02] synicalsyntax commented on #18
@zulipbot remove "question"

[2017-02-28 01:02] synicalsyntax commented on #18
@zulipbot remove "bug"

[2017-02-28 01:23] synicalsyntax commented on #18
@zulipbot remove "bug"

[2017-02-28 01:24] lonerz commented on #17
@zulipbot claim

[2017-02-28 01:25] lonerz commented on #14
@zulipbot abandon, @zulipbot remove "enhancement" "ennnnhancement" "enhancement" "enhancemen"

[2017-02-28 01:36] synicalsyntax commented on #17
Referencing https://github.com/zulip/zulip/issues/3703here, the original request for this feature.

[2017-02-28 01:38] synicalsyntax commented on #18
Yes, https://github.com/zulip/zulip/issues/3771 is open for that issue; I think I'll focus on that first before getting a website up, thanks.

[2017-02-28 15:02] refeed opened #19 "Set up continuous integration"
We could set up at least a continuous integration for this repository like Travis-CI that runs linters, unit tests, etc.

[2017-02-28 16:33] synicalsyntax commented on #19
@zulipbot claim

[2017-02-28 16:33] synicalsyntax commented on #19
Yep, I've already set up gulp to run automated testing!

[2017-02-28 19:02] #19 closed

[2017-02-28 23:32] lonerz opened #20 "update the zulipbot docs on queries one should use to find unclaimed issues"

[2017-02-28 23:32] lonerz commented on #20
@zulipbot claim

[2017-03-01 01:53] lonerz commented on #17
@zulipbot claim

[2017-03-01 02:00] #20 closed

[2017-03-01 02:09] lonerz commented on #17
@zulipbot abandon

[2017-03-01 02:10] #15 closed

[2017-03-01 02:11] synicalsyntax opened #23 "Adding area label support to pull requests"
Mention the corresponding area label team and label PR with area label when PR mentions another issue.

- [ ] Check body for newly created pull request
- [x] Check body for pull request (issue) comment
- [x] Check body for pull request review
- [x] Check body for pull request review comment

[2017-03-01 02:11] synicalsyntax commented on #23
@zulipbot claim

[2017-03-01 02:11] synicalsyntax commented on #17
@zulipbot claim

[2017-03-01 02:13] lonerz commented on #14
@zulipbot add "enhancement" "enhancement"

[2017-03-01 02:13] lonerz commented on #14
@zulipbot label "enhancement" "enhancement"

[2017-03-01 03:39] synicalsyntax commented on #17
Added in 33eae4e

[2017-03-01 03:39] #17 closed

[2017-03-01 07:36] lonerz opened #27 "Get rid of duplicate code"
We should get rid of duplicate things and create functions for them, especially the following:
- [x] create comment function
- [x] authentication (??)
- [x] getting issue labels

For the future:
- [ ] getting labels in a repo
- [ ] remove label function (we can actually just use replace label function)
- [ ] add label function

Feedback would be nice and any other suggestions for duplicate functio

[2017-03-01 07:37] lonerz commented on #27
@zulipbot label "feedback wanted", @zulipbot claim

[2017-03-01 07:40] lonerz opened #28 "When adding and removing labels pick the first one mentioned"
When you mention @zulipbot   label "enhancement" and @zulipbot    remove "enhancement" in the same comment, you should only do the first action, which is labeling and not removing.

[2017-03-01 08:28] lonerz commented on #27
Not sure if we can actually write functions for removing/adding labels, since we need to access the responses...

[2017-03-01 08:32] lonerz opened #31 "Adding a label that has already been added shouldn't do anything"
Adding a label through a comment. Then adding the same label through another comment shouldn't make the bot add the label again.

@zulipbot claim, @zulipbot label "enhancement"

An example is shown below.

[2017-03-01 08:32] lonerz commented on #31
@zulipbot label "enhancement"

[2017-03-01 09:40] lonerz commented on #28
This should be a simple comparator between `indexOf("@zulipbot label")` and `indexOf("@zulipbot remove")`.

[2017-03-01 09:41] lonerz commented on #28
@zulipbot label "@zulipbot claim"

[2017-03-01 09:42] lonerz commented on #28
@zulipbot abandon

[2017-03-01 09:43] lonerz opened #32 "Don't allow bot to self-assign itself"
Example: `@zulipbot label "@zulipbot claim"`.

[2017-03-01 09:43] lonerz commented on #32
@zulipbot abandon

[2017-03-01 09:44] lonerz opened #33 "Disable removing "in progress" label for abandoning issues with multiple assignees"
Issues with multiple assignees should not have the "in progress" label removed when one assignee abandons the issue.

(description added by @synicalsyntax)

[2017-03-01 10:17] lonerz commented on #23
@synicalsyntax I can work on newly created PRs. However, feel free to continue if you already started.

[2017-03-01 13:37] refeed commented on #32
@zulipbot label "bug"

[2017-03-01 15:49] synicalsyntax commented on #23
I haven't started on newly created PRs, feel free to go ahead

[2017-03-01 15:56] synicalsyntax opened #34 "Disable @zulipbot functions if they are inside code blocks"
If you try to reference a zulipbot function in a code block, zulipbot will execute the command; we should disable this for anyone trying to only reference a zulipbot command.

Ex: Use `@zulipbot claim` to claim an issue

[2017-03-01 16:00] synicalsyntax commented on #27
Authentication would definitely be great. We're looking for responses a lot of the time we use a label function, but we can probably have the function return the associated labels if necessary.

[2017-03-01 16:13] lonerz commented on #27
Sure, it'll probably work out.

[2017-03-01 17:57] #23 closed

[2017-03-01 17:59] synicalsyntax commented on #23
@lonerz Since I had the framework already set up, I went ahead and added support for newly created PRs, sorry if you already started working on it

[2017-03-01 19:45] lonerz commented on #27
@synicalsyntax working on authentication right now.

[2017-03-02 00:53] synicalsyntax commented on #34
@zulipbot label "area: emoji"

[2017-03-02 05:22] lonerz commented on #33
@zulipbot claim

[2017-03-02 07:14] lonerz opened #37 "Mention corresponding area label teams when issue is abandoned completely"
When someone or some people claim(s) a task at first and when everyone abandons the task, the corresponding area label team should be mentioned of the open issue with no assignees.

[2017-03-02 07:14] lonerz commented on #37
@timabbott feedback on this?

[2017-03-02 08:10] timabbott commented on #37
Hmm, I think given that on a large project like zulip/zulip, like 80-90% of issues are unclaimed, I'm not sure we need a special notification for this state (especially since the area label team should be subscribed already from when the issue was opened/labeled in the first place, and thus should be receiving notifications, unless I'm mistaken...).

[2017-03-02 08:21] lonerz commented on #37
@zulip/gci test

[2017-03-02 08:22] lonerz commented on #37
Hmmm, why would the area label team be automatically subscribed? @timabbott They are only mentioned by zulipbot, but that shouldn't automatically subscribe them to the issue.

[2017-03-02 08:27] lonerz commented on #37
What I was thinking was if the issues was claimed by a person, but that person decided that it was too hard or didn't want to do it and abandoned it. Then zulipbot will mention the area label team and say that the PR is up for grabs again.

[2017-03-02 15:21] #31 closed

[2017-03-02 15:22] synicalsyntax commented on #37
If you are mentioned in a specific issue (aka mentioning of the label team by zulipbot), you'd be automatically subscribed to notifications for the issue/PR.

[2017-03-02 16:20] refeed opened #38 "Add linter(s) to Travis-CI"
It always a good idea to set up a linter for code readability and quality, since this repository doesn't has a linter yet, so I'd recommend to set up it.

I'd recommend `eslint` for this repo, since it supports ES6 and works with some framework like CommonJS, and easy to configure. Any thoughts for this? like rules for the linter, or recommend another linter.

[2017-03-02 16:21] refeed commented on #38
@zulipbot label "feedback wanted"

@zulipbot claim

[2017-03-02 16:24] lonerz commented on #38
@refeed I thought there's already a eslint linter that comes with gulp. I've been using for the past week or so.

[2017-03-02 16:27] lonerz commented on #37
@synicalsyntax really hmm, then I'll close this issue.

[2017-03-02 16:27] #37 closed

[2017-03-02 16:33] synicalsyntax commented on #38
Yeah, I've already set up Eslint for listing with Gulp that's used in Travis CI. Try running `gulp static` to run it. Unit tests/coverage are something we need to work on, though.

[2017-03-02 16:35] synicalsyntax commented on #32
@zulipbot claim

[2017-03-02 16:35] synicalsyntax commented on #32
@zulipbot abandon

[2017-03-02 16:36] synicalsyntax commented on #32
@zulipbot remove "in progress"

[2017-03-02 16:36] synicalsyntax commented on #32
@zulipbot label "invalid"

[2017-03-02 16:40] #32 closed

[2017-03-02 16:42] #38 closed

[2017-03-02 16:48] timabbott commented on #37
Have we definitely confirmed that GitHub behaves that way?

[2017-03-02 16:52] refeed commented on #38
Oh ok, I didn't saw it before this..

[2017-03-02 16:52] synicalsyntax commented on #32
@zulipbot abandon

[2017-03-02 16:53] synicalsyntax commented on #32
@zulipbot remove "bug" "buggy"

[2017-03-02 16:53] synicalsyntax commented on #32
@zulipbot remove "bug"

[2017-03-02 16:53] synicalsyntax commented on #32
@zulipbot label "area: emoji"

[2017-03-02 16:54] synicalsyntax commented on #32
@zulipbot claim

[2017-03-02 17:01] synicalsyntax commented on #32
@zulipbot label "@zulipbot claim"

[2017-03-02 17:04] synicalsyntax commented on #37
Yep, GitHub subscribes anyone, team or member regardless, to an issue/PR by mention. https://help.github.com/articles/about-notifications/

[2017-03-02 17:19] timabbott commented on #37
Great!  @lonerz comment got me worried a bit that I was confused about how this works :)

[2017-03-02 18:24] synicalsyntax opened #39 "New collaborators aren't being assigned to issues"
New contributors that try to claim an issue receive a welcome message and the issue is labeled as "in progress", but the new contributors aren't actually being assigned to the issue.

[2017-03-02 18:25] synicaltests commented on #39
For example: @zulipbot claim

[2017-03-02 18:46] synicaltests commented on #39
@zulipbot abandon

[2017-03-02 21:50] lonerz opened #40 "Add area labels system to README.md"

[2017-03-02 23:16] lonerz commented on #14
@zulipbot label "help wanted"

[2017-03-02 23:17] lonerz commented on #28
@zulipbot label "help wanted"

[2017-03-02 23:18] lonerz commented on #40
@zulipbot label "enhancement"

[2017-03-03 03:33] synicalsyntax commented on #40
@zulipbot claim

[2017-03-03 04:00] synicalsyntax commented on #40
Fixed in 1e1e839

[2017-03-03 04:00] #40 closed

[2017-03-03 04:48] #39 closed

[2017-03-03 15:08] #33 closed

[2017-03-03 17:01] synicalsyntax commented on #27
@lonerz Eliminated the `getIssueLabels` function altogether in a5e1f7c and b13e0ed, since we can just get the issue labels from the responses and payloads themselves :)

[2017-03-03 19:05] lonerz commented on #27
@synicalsyntax those require `.then()` which means that we'll have to look into async functions...

[2017-03-03 19:09] synicalsyntax opened #42 "Remove assignee and "in progress" label for inactive claimed issues"
For claimed/in progress issues that have been inactive (no comments, no pull requests referenced, etc.) for a week, @zulipbot should ask the assignee whether they are still working on it.

If the assignee doesn't respond with "Yes I'm still working on it" or something similar within a time limit of the prompt, zulipbot remove the assignee and in progress label from the issue to allow other people

[2017-03-03 22:25] synicalsyntax opened #43 "Limit functions to one comment for every payload event"
`issueReferenced` and `issueAreaLabeled` all post multiple comments when triggered, which might be annoying for the area label teams mentioned as well as the issue creator; like `joinLabelTeam`, `addLabels`,  and `removeLabels`, we can easily concatenate the related area labels into strings instead of printing one comment for every element in the array.

- [x] `issueReferenced`
- [x] `issueAreaLab

[2017-03-04 01:28] #43 closed

[2017-03-04 01:32] lonerz commented on #42
@synicalsyntax would the comments/PR referenced be from the assignee?

[2017-03-04 01:34] synicalsyntax commented on #42
Yes

[2017-03-04 02:53] lonerz commented on #34
`@zulipbot label  "test"`

[2017-03-04 03:10] lonerz commented on #34
@synicalsyntax this would be in single tilde and triple tilde right?

[2017-03-04 03:10] lonerz commented on #34
`single tilde`
```triple tilde```

[2017-03-04 03:11] lonerz commented on #27
@synicalsyntax I went through all the code and I think we got rid of all the duplicate functions. Closing for now.

[2017-03-04 03:11] #27 closed

[2017-03-04 03:12] lonerz commented on #34
@zulipbot claim

[2017-03-04 03:14] synicalsyntax commented on #34
Yep, good luck!

[2017-03-05 00:08] lonerz opened #44 "Travis webhook POST requests to zulipbot server"
When zulipbot is mentioned `@zulipbot travis`, mention PR creator with pass/fail of Travis tests.

More details [here](https://chat.zulip.org/#narrow/near/162351/stream/general/topic/zulipbot.20help.20with.20travis.3F).

[2017-03-05 01:17] synicalsyntax commented on #44
@zulipbot claim

[2017-03-05 01:47] lonerz commented on #18
@synicalsyntax we can close this now.

[2017-03-05 17:55] #44 closed

[2017-03-05 18:13] lonerz opened #46 "Check title of PRs for "WIP" before mentioning corresponding area label teams"
Pull requests that contain "[WIP]" in their titles should not reference area label teams until the "[WIP]" status is removed from the title.

(Description added by @synicalsyntax)

[2017-03-05 18:30] lonerz commented on #46
@zulipbot claim

[2017-03-05 18:34] synicalsyntax commented on #46
@zulipbot label "enhancement"

[2017-03-05 18:36] lonerz commented on #46
@zulipbot label "enhancement"

[2017-03-05 22:37] lonerz opened #47 "Check for issue or PR during labeling"
When PRs/issues are labelled, zulipbot often leaves a comment concerning the status of the labeling, such as when invalid labels are added/removed (`addLabels.js` + `removeLabels.js`) and when area labels are added (`issueAreaLabeled.js`). zulipbot should check whether it is commenting on an issue or pull request.

(Description added by @synicalsyntax)

[2017-03-05 22:37] lonerz commented on #47
@zulipbot label "bug"

[2017-03-06 02:19] lonerz opened #48 "Mention corresponding area teams when area label is added to a specific PR"

[2017-03-06 02:19] lonerz commented on #48
@zulipbot label "enhancement"

[2017-03-06 02:24] synicalsyntax commented on #48
@zulipbot claim

[2017-03-06 02:25] #48 closed

[2017-03-06 04:37] synicalsyntax commented on #46
@lonerz Were you trying to claim this, or were you trying to test if zulipbot was working?

[2017-03-06 04:38] lonerz commented on #46
@synicalsyntax no, I was just testing if zulipbot was working.

[2017-03-06 04:48] #47 closed

[2017-03-06 19:31] #46 closed

[2017-03-06 23:32] synicalsyntax commented on #42
@zulipbot claim

[2017-03-07 03:29] #42 closed

[2017-03-07 06:59] lonerz opened #49 "Tracking inactive claimed issues should take open referenced PRs into account"
Currently, issues that have been inactive in the comments for 7 days but have an open PR referenced are being flagged as inactive. This shouldn't happen.

[2017-03-07 07:19] lonerz commented on #49
You may want to use a map of open PRs and open issues and cross-check them.

[2017-03-08 03:20] rishig opened #50 "Post at most one area message per area per conversation."
If you write a comment on a PR that references an issue in area X, zulipbot adds a message to the PR saying "hey folks in area X, check it out", which is great.
If you add another comment that references a different issue in area X, it would be great if zulipbot did not add another "hey folks in area X, check it out" message.
https://github.com/zulip/zulip/pull/3946 is an example of where this hap

[2017-03-08 03:22] lonerz commented on #50
@rishig Ah, so no duplicate comments pretty much.

[2017-03-08 03:27] rishig commented on #50
ah yeah, a more succinct way to say it :).

[2017-03-08 03:28] lonerz commented on #50
Cool, it should just be a simple search through the comments and seeing which area teams have already been mentioned.

[2017-03-08 05:52] lonerz opened #51 "zulipbot should check that PR commits reference an issue not only the PR description"
zulipbot should check if when a PR references an issue, the PR commit should reference the issue and not only the PR description.

@zulipbot label "new feature" "enhancement"

[2017-03-08 07:19] lonerz opened #52 "Standardize zulipbot name"
I think we agreed to use "zulipbot" all lowercase instead of "Zulipbot". We should probably change all the spellings to match "zulipbot" now.

[2017-03-08 08:21] lonerz commented on #52
@zuliipbot label "help wanted"

[2017-03-08 08:21] lonerz commented on #52
@zulipbot label "help wanted"

[2017-03-08 08:27] lonerz commented on #50
@zulipbot claim

[2017-03-08 09:49] lonerz opened #53 "Comments with "issue" shouldn't always be replaced with "pull request""
Fix this line: https://github.com/zulip/zulipbot/blob/master/src/issues/newComment.js#L11

Should only replace "issue" with "pull request" when a pull request is referenced.

[2017-03-08 16:48] #50 closed

[2017-03-08 16:49] synicalsyntax commented on #52
I've never seen any instances of "Zulipbot" in the docs/files (I've always used "zulipbot"), are there any that you've noticed?

[2017-03-08 19:49] lonerz commented on #52
@synicalsyntax maybe I'm wrong. I'll double check right now. Yep, seems like there is nothing with "Zulipbot". Closing this issue.

[2017-03-08 19:49] #52 closed

[2017-03-08 19:50] lonerz commented on #53
@zulipbot label "bug"

[2017-03-08 20:41] lonerz commented on #53
@zulipbot claim

[2017-03-09 06:16] #53 closed

[2017-03-09 06:26] mananpal1997 opened #56 "Check for existing labels and provide suggestions"
ZulipBot should be able to recommend a similar label / list of labels if the label given by user is not found to be existing.

[2017-03-09 07:19] lonerz commented on #56
@mananpal1997 if you want to work on this issue, you can claim it by commenting "@zulipbot  claim"

[2017-03-09 07:42] mananpal1997 commented on #56
@zulipbot claim

[2017-03-09 07:46] lonerz commented on #56
@mananpal1997 make sure to join us on [chat.zulip.org](chat.zulip.org) especially our [#zulipbot stream](https://chat.zulip.org/#narrow/stream/zulipbot) to talk with @synicalsyntax and I.

[2017-03-12 00:30] #28 closed

[2017-03-12 01:44] #34 closed

[2017-03-12 02:46] #14 closed

[2017-03-12 02:47] #18 closed

[2017-03-12 05:57] lonerz commented on #56
@mananpal1997 just wanted to check in. How is this coming along? Do you need any help?

[2017-03-12 06:41] mananpal1997 commented on #56
@lonerz Sorry for the delay, was busy with my university examinations. Will be opening the pr by tomorrow :+1:

[2017-03-12 06:44] lonerz commented on #56
@mananpal1997 no problem. No worries, take your time.

[2017-03-12 18:06] synicalsyntax opened #57 "zulipbot isn't unassigning contributors from inactive issues"
The [following issues](https://github.com/zulip/zulip/issues?utf8=✓&q=Are%20you%20still%20working%20on%20this%20issue%3F%20is%3Aissue%20is%3Aopen%20mentions%3Azulipbot%20sort%3Aupdated-asc%20updated%3A%3C2017-03-09) in the zulip/zulip repository have all received the inactivity comment and have not received an update response, but zulipbot has yet to remove the "in progress" label and the assignee

[2017-03-12 22:05] lonerz commented on #49
@synicalsyntax can you pick this up? I'm pretty busy, so if you want to, this issue is open.

[2017-03-12 22:05] lonerz commented on #51
@zulipbot claim

[2017-03-13 02:16] lonerz opened #58 "Inactivity is not checked for older issues"
I have a feeling that we aren't iterating over all the pages of issues, thus, missing old issues like [#3945](https://github.com/zulip/zulip/issues/3945), which should be labeled inactive.

[2017-03-13 02:24] lonerz commented on #58
Actually, I think I might be wrong. This just happened to be an issue with zulipbot itself.

[2017-03-13 02:24] #58 closed

[2017-03-13 02:26] synicalsyntax commented on #58
The user probably tried using `@zulipbot claim` when the bot was down, since the issue was never claimed in the first place.

[2017-03-13 02:27] synicalsyntax commented on #58
@zulipbot abandon (the thing works, looks like Tim hasn't deployed yet)

[2017-03-13 02:36] lonerz opened #60 "Expand issue referencing support."
zulipbot should check issue references in:

- [ ] [pull request commit descriptions](https://github.com/zulip/zulip/pull/4041)
- ~~edited pull request descriptions (should make sure it wasn't there first)~~
- ~~edited issue comments (should make sure it wasn't there first)~~

**Note:** GH API does not work consistently for Edit events, see conversation below

(title and description edited by @syni

[2017-03-13 02:48] lonerz commented on #60
@zulipbot label "enhancement"

[2017-03-13 02:56] synicalsyntax commented on #60
I thought our commit standards discouraged issue references in the title and commit message titles?

[2017-03-13 02:58] lonerz commented on #60
With this, then when someone merges your commit, it automatically closes the corresponding issue.

[2017-03-13 03:04] synicalsyntax commented on #60
Oh, I thought you meant commit message reference as in:
[code]

Generally people already reference the issue the PR fixes in the PR description, but I guess we can add it for commit checking too. I guess this is also related to #51, since we need to add support for commit message descriptions for both issues.

We should also probably add support for edited issue comments/PR descriptions, now that

[2017-03-13 03:04] lonerz commented on #60
Yep.

[2017-03-14 00:34] synicalsyntax commented on #60
Did some work on adding command support for "edited" event payloads; unfortunately, the GitHub API is **very** inconsistent with showing the content of the edited body. Specifically, sometimes the content of the edited body is shown as the previous unedited version. I've contacted GitHub about this issue, but until then we might want to hold off on adding support for edits.

[2017-03-14 00:36] lonerz commented on #60
Great. GH API is just not as well done as it should be.

[2017-03-14 07:18] mananpal1997 commented on #56
@lonerz I'm using nlp basics right now for label matching. Is it okay or should I use an api? Because I guess we'll be needing nlp later when we add more features and extensibility.

[2017-03-14 07:20] lonerz commented on #56
@mananpal1997 go for it. If it is easier, maybe resort to API? I think we should get something working first, and we can always go back and change the algorithm a bit. @synicalsyntax any comment here?

[2017-03-14 11:03] mananpal1997 commented on #56
@lonerz @synicalsyntax  I've decided to extract keywords from labels using "IBM Alchemy API" and then suggest matching labels using nlp package "natural". I've the code almost ready. Should I open a PR or any suggestions first? :smiley:

[2017-03-14 15:09] synicalsyntax commented on #56
Feel free to open a PR whenever you're ready :)

[2017-03-14 15:34] synicalsyntax commented on #60
Received this reply from GH support:

[code]

Looks like it's best to discontinue work on edited comments/bodies until GH API starts working consistently. :(

Also, have there been any cases where "WIP" was removed from a PR title and the label team wasn't pinged afterwards? Pretty sure this edit event issue affects that feature too.

[2017-03-14 22:22] lonerz commented on #60
@synicalsyntax we can comment it out for right now.

[2017-03-15 02:09] lonerz opened #62 "Make zulipbot check to see if PR commit messages conform with commit messages guideline"
This can be pretty simple. Check capitalization after a colon, or make sure commit message starts with a colon. Related to #51 (this is a meta-issue).

The guidelines can be found [here](http://zulip.readthedocs.io/en/latest/version-control.html#commit-messages).

[2017-03-15 02:09] lonerz commented on #62
@zulipbot label "new feature"

[2017-03-15 02:11] synicalsyntax commented on #62
I think they're already trying to implement something similar in zulip/zulip#1131 (looks like they're using gitlint), pinging @timabbott to see if he thinks zulipbot would be a more effective solution than gitlint.

[2017-03-15 02:13] lonerz commented on #62
Oh hmm, I thought I've seen this before. Thanks for mentioning.

[2017-03-15 02:41] #60 closed

[2017-03-15 16:40] synicalsyntax opened #63 "Check repos for unlabeled issues and remind issue creator to label them"
When new contributors create new issues, they usually don't label their issues appropriately even though they can do so through the `@zulipbot label` command.

A new feature can be developed that scrapes unlabeled issues in the repository and remind the issue creator to label them if they're still unlabeled one hour after their creation.

Maybe once #56 is implemented we could suggest possible lab

[2017-03-15 16:54] tommyip commented on #62
I think we are trying to run the commit message lint during the testing stage (as part of the Travis test suite), though using Zulipbot for this is an interesting idea.

[2017-03-15 19:33] lonerz opened #65 "zulipbot remind PR creator that PR has been reviewed after some time"
- [x] After a review is made, mark a PR with the "reviewed" label. zulipbot should periodically scrape repos for PRs with the "reviewed" label and remind PR creator that they should update their PR after a certain time.

- [x] Issues that haven't received any reviews should have a "needs review" label.
- [x] After a certain period of time PRs labeled "needs review" should mention the PR reviewers

[2017-03-15 21:22] synicalsyntax commented on #63
Discussion on [chat.zulip.org](https://chat.zulip.org/#narrow/near/171167/stream/general/topic/contributing.2Emd) concluded that this feature should not be implemented.

[2017-03-15 21:22] #63 closed

[2017-03-15 22:58] timabbott commented on #62
Let's get it working as part of the test suite, but I can imagine porting it over if we think the user experience would be better to have zulipbot notifying.  I worry a bit that it'd be somewhat spammy when debugging something with bad commit messages, though.

[2017-03-15 23:36] #49 closed

[2017-03-15 23:37] synicalsyntax commented on #57
Closed in 16727bc, hopefully

[2017-03-15 23:37] #57 closed

[2017-03-16 02:50] #65 closed

[2017-03-16 18:31] lonerz commented on #49
@synicalsyntax why did zulipbot still give a warning [#3992](https://github.com/zulip/zulip/issues/3992)?

[2017-03-16 19:04] synicalsyntax commented on #49
@lonerz The PR body didn't reference the issue

[2017-03-17 07:45] lonerz opened #67 "Notify user if zulipbot is unassigning the user from an issue"
I was unassigned from an issue and didn't notice until I couldn't find it in my TODO list. There should be some type of mention from zulipbot that you got unassigned.

[2017-03-17 15:07] synicalsyntax commented on #67
@zulipbot claim

[2017-03-17 16:06] synicalsyntax opened #68 "Make zulipbot customizable for community use"
Currently a lot of settings for zulipbot are hardcoded, ranging from comment escaping to the inactivity times to the area labels.

Since @brainwane is presenting about zulipbot in about a week, I think it'd be great if we could make zulipbot more customizable in case others want to use their own copy of zulipbot to collaborate on their repositories. To make this possible, we would need to refactor

[2017-03-17 17:10] timabbott commented on #68
I think this is a great plan.  Since we have a configuration file setup already, it seems like we could push the content into that.  Though it might be a good idea to separate configuration into two things -- the public configuration vs. the secret keys.  We could keep the former for Zulip in the repository (you want a sample anyway), but obviously we don't want to check in the user's password/key

[2017-03-17 17:36] #67 closed

[2017-03-17 21:41] lonerz opened #69 "Inactive feature: zulipbot leaves issue/PR alone if it has a specific label"
@zulipbot label "new feature" "enhancement"

[2017-03-17 21:47] lonerz commented on #69
@zulipbot claim

[2017-03-17 22:25] synicalsyntax commented on #68
Will be pushing changes to the "config" branch for a peek on what options I'm adding, feedback would be great :)

**Currently supported options (updated 3/17)**
* Username
* Password
* Area labels & teams
* Inactive issue/PR time limit
* Abandon issue time limit
* Travis webhook notifications (for finished build statuses)
* Travis updates label name
* Self-labeling (only issue/PR authors can manag

[2017-03-18 02:00] #69 closed

[2017-03-18 05:27] #68 closed

[2017-03-18 08:22] lonerz opened #75 "tools: mockPayload does not work after cfg refactoring"
mockPayload doesn't seem to work currently. Tried doing something simple like `@zulipbot  claim` and didn't work.

@zulipbot label "bug"

[2017-03-18 08:22] lonerz commented on #75
@zulipbot label "bug"

[2017-03-18 08:24] lonerz opened #76 "zulipbot commands after code block text with zulipbot command don't work"
For example, `@zulipbot  claim`.

The following command will not work when it should.
@zulipbot label "bug"

[2017-03-18 15:31] synicalsyntax commented on #75
You need to use @zulipbot-test now :)

[2017-03-18 16:17] synicalsyntax commented on #76
That's because our code looks for the first instance of a `@zulipbot` command and rejects it if it's within a code block.

I guess we could reenable supporting multiple commands in a comment/body?

[2017-03-18 16:18] lonerz commented on #76
I feel like we shouldn't take the first instance of `@zulipbot` command from the code block, but the first instance of `@zulipbot` that isn't in codeblocks.

[2017-03-18 16:19] lonerz commented on #75
@synicalsyntax thanks.

[2017-03-18 16:19] #75 closed

[2017-03-18 17:58] synicalsyntax commented on #76
Our regex matches the first instance, and JavaScript doesn't support look-behinds in regex. We'd probably have to reimplement supporting multiple commands (global regex) to enable this.

[2017-03-18 20:22] lonerz commented on #75
@zulipbot label "invalid"

@zulipbot label "enhancement"

@zulipbot label "bug"

[2017-03-18 20:26] lonerz opened #80 "Commands which are processed is nonintuitive"
When you have something like below:

@zulipbot label "invalid"
@zulipbot label "enhancement"
@zulipbot label "bug"

It labels "bug" first, which is super unintuitive. We should fix this.

[2017-03-18 20:28] synicalsyntax commented on #80
It goes by the alphabetical order in the repository labels.

[2017-03-18 20:29] lonerz commented on #80
Hmm, shouldn't it just take the first command and run it?

[2017-03-18 20:30] synicalsyntax commented on #80
No, because when we check for labeling, we first process all the repository labels into `repoLabel`, and repository labels are alphabetically by default.

[2017-03-18 20:44] #51 closed

[2017-03-18 20:49] #80 closed

[2017-03-20 03:17] #76 closed

[2017-03-22 01:31] lonerz opened #84 "Multiple commits that reference the same issue shouldn't create duplicate comments"
Check PR [#2172](https://github.com/zulip/zulip/pull/2172).

[2017-03-22 02:05] timabbott opened #85 "Clear "in progress" issue from closed issues."
Currently, nothing removes the "in progress" label for issues that are closed or resolved.

[2017-03-22 04:38] #85 closed

[2017-03-22 15:49] #84 closed

[2017-03-22 19:03] borisyankov opened #86 "I regret to inform you..."
... that the term 'I regret to inform you' is not fun to get in an email.
It really has lots of heavier connotations.

This is used during unassigning a user from a case. The tone can be much lighter, especially for a thing that is not irreversible or even necessarily bad.

[2017-03-22 19:18] synicalsyntax commented on #86
Do you have any other suggestions for the message instead?

[2017-03-22 22:02] lonerz opened #87 "Make command names configurable"
We probably want to add lists of commands that are synonymous in nature.

For example, @zulipbot  unclaim  abandon  abort.

[2017-03-24 04:12] #86 closed

[2017-03-24 23:49] #87 closed

[2017-03-25 18:30] lonerz opened #90 "Remove "reveiwed"/"needs reviewed" labels from merged/closed PRs"
We can either remove all these labels when a PR is closed/merged.

OR we can just make them as "reviewed," but we should not leave them as "needs reviewed" probably.

[2017-03-26 01:03] #90 closed

[2017-04-16 21:53] lonerz opened #92 "Dry run report for inactivity notifications"
We probably want a feature that will tell us which issues and PRs have gone inactive. This should be done before we reactivate the inactivity feature.

See more in [this](https://chat.zulip.org/#narrow/near/188718/stream/zulipbot/topic/zulipbot.20.2F.20master) discussion.

[2017-04-22 18:17] lonerz commented on #62
Closing now that git linter has been added.

[2017-04-22 18:17] #62 closed

[2017-04-22 18:37] lonerz opened #93 "Merge conflict notices"
When a PR develops merge conflicts, notify and post a comment on the PR.

Read more [here](https://chat.zulip.org/#narrow/stream/zulipbot/topic/merge.20conflict).

[2017-04-23 03:42] synicalsyntax commented on #93
This can be achieved by responding to push event payloads and checking all pull requests' `mergeable` property.

[2017-04-25 22:21] lonerz opened #94 "Priority label daily digest"
Tagging issues with "priority" that are unclaimed are sent in a daily list by zulipbot.

Read more [here](https://chat.zulip.org/#narrow/near/192871/stream/general/topic/zulipbot.20feature.20idea).

[2017-05-03 17:28] synicalsyntax commented on #92
@timabbott In order to do this, we'd probably need @zulipbot's login credentials or add @zulipbot-test to https://github.com/orgs/zulip/teams/team-that-is-just-zulipbot-for-permissions-control

[2017-05-03 17:30] lonerz commented on #92
Can't we just implement and just have @timabbott run the code?

[2017-05-04 04:25] #93 closed

[2017-05-05 01:31] lonerz opened #95 "Double comments for merge conflicts"
We should collapse merge conflict comments to just list commits instead

[2017-05-05 07:43] lonerz opened #96 "Code review integration with zulip chat"
I was thinking of a workflow which integrates Zulipbot with the chat. The workflow works like this. When a PR is ready for review the person tags Zulipbot and ask for a review in GitHub. Something like this

As a result of this Zulipbot integration will create a new topic in #**code review** with the PR no as the topic and asks users to take a look at it for review. If anyone is interested in revi

[2017-05-05 22:25] #95 closed

[2017-05-08 23:56] synicalsyntax opened #97 "Unnecessary issue reference warnings on PRs being made"
zulipbot is leaving unnecessary issue reference warning on pull requests. It should only leave issue reference warnings when an issue is referenced in the body of a pull request (maybe pull request comment too), not any pull request review comments.

See [here](https://github.com/zulip/zulip-mobile/pull/466#issuecomment-300020371) for an example of an unnecessary reference warning.

[2017-05-09 00:38] lonerz commented on #97
Hmm, yea. It seems to be doing the opposite of what it is supposed to do.

[2017-05-09 21:20] lonerz opened #98 "Delay merge conflict warnings"
Currently when we tweak a commit and then push to master, there's a "merge conflict" because of the newly pushed tweaked commit. We should delay merge conflict warnings by 15 minutes and check if the PR is closed.

More info [here](https://chat.zulip.org/#narrow/stream/zulipbot/topic/merge.20conflicts.20when.20merged).

[2017-05-13 12:19] rht opened #99 "Augment the list of the PR reviewers to be notified with the list of potential reviewers taken from data from git-blame / git logs"
The current request for CR still relies on having an issue(s) being referenced manually in the PR.
In most cases, the previous committer of the lines as stated by git-blame should be able to give the most relevant feedback. This is the method used by https://github.com/facebook/mention-bot (a patent was filed!) with some more additional tweaks. I know nixpkgs has been using this, due to it being a

[2017-05-13 14:41] synicalsyntax commented on #99
So from what I can see, mention-bot works by analyzing the following criteria:

I do think these are two good ways to identify whether someone would be interested in reviewing a PR, but I'm a bit hesitant on collecting data on PRs over a long period of time.

@timabbott, what do you think about this feature proposal?

[2017-05-14 04:56] timabbott commented on #99
I'm not sure we need to collect data over time; the info is all there in the commit history.

I'm a little skeptical that there will be a lot of benefit to this over the existing area teams model that we have; it seems like it could be somewhat spammy in our context where more contributors are volunteers (vs. Facebook's, where most are employees).

Certainly I'd prioritize this below work on impro

[2017-05-14 05:17] #98 closed

[2017-05-17 16:15] #99 closed

[2017-05-17 18:23] synicalsyntax opened #100 "zulipbot is not responding to label requests"
zulipbot's `label` command is not working (see [here](https://github.com/zulip/zulip/issues/4825) for an example).

@zulipbot label "bug"

[2017-05-17 18:26] lonerz commented on #100
Also, for some reason, sometimes zulipbot doesn't mention area teams when you add labels when you create an issue (not after).

[2017-05-18 19:38] synicalsyntax opened #101 "Generate report for inactive pull requests that need review."
Every time an inactivity check is created, pull requests that need review or have an unknown status should be sent in a message with a report to the Zulip chat.

Similar to #96.

[2017-05-23 18:33] lonerz opened #102 "Get rid of merge conflict warning when user pushes new mergeable code"
We should get rid of the merge conflict warning when the user pushes new code that is mergeable. This will help the user know that the merge conflict is not there anymore and will allow future merge conflict warnings to be a new comment, which will mention the author instead of editing a comment, which doesn't mention the author again.

Bonus: Duplicate merge conflict warnings should not be made.

[2017-05-24 02:56] lonerz opened #103 "Let a team of users have @zulipbot label functionality"
We should implement something that allows a team of users to use the `@zulipbot label` functionality even though they are not the creator of the PR/issue.

[2017-06-05 19:54] brainwane commented on #15
I do think that claiming an issue should cause the bot to remove "help wanted".

I think the "help wanted" tag is useful in cases where there is a well-laid-out concrete next step -- but if someone abandons an issue then there's a fair chance that there is NOT a nicely concrete next step. So I think that the "help wanted" tag shouldn't necessarily automatically return to a newly abandoned task.

[2017-06-08 05:43] lonerz opened #104 "Check all commits of PR for issue references"
Link to [conversation](https://chat.zulip.org/#narrow/stream/general/subject/inactive.20issues.20and.20pull.20requests/near/221061)

[2017-06-13 17:19] lonerz opened #105 "When CSS is changed make sure there's a screenshot in PR"

[2017-06-13 22:04] eeshangarg opened #106 "Support assigning yourself as a reviewer on a PR"
I think it would be a good feature to have a command that allows a person to assign themselves as a reviewer on a pull request. With so much peer code review going on, its important that its clear who is reviewing a certain PR. :) Something like `@zulipbot review`. Thoughts?

[2017-06-13 22:12] lonerz commented on #106
@eeshangarg can you try `@zulipbot claim` on a PR, it should allow you to claim that PR.

[2017-06-13 22:42] eeshangarg commented on #106
@lonerz: Just tried that. Doing that assigns you as an 'assignee', not as a reviewer!

[2017-06-13 22:45] lonerz commented on #106
@eeshangarg: if you just review the PR, you'll be added as a reviewer. I don't really understand the need to comment `@zulipbot review`.

[2017-06-13 22:54] eeshangarg commented on #106
@lonerz: Tim and I were discussing how I can let him know if I am going to review a certain PR (in some cases, I am collaborating with the person who submitted the PR), and he recommended that I submit it as an issue after I couldn't assign myself as a reviewer. Its great for when I know that I can review something before it gets to reviewers who already have a lengthy queue of PRs to review (like

[2017-06-13 22:57] lonerz commented on #106
@eeshangarg Great, that makes sense. I think we need to decide between `@zulipbot review` or `@zulipbot reviewer`. The `reviewer` makes it more clear what you are doing I think?

[2017-06-13 23:01] eeshangarg commented on #106
@lonerz: Yeah I agree `reviewer` is better. Let's go with that one. :) `review` seemed okay because its a verb like `claim`. But, `reviewer` makes it a bit more explicit that I want to be the reviewer.

[2017-06-21 03:19] synicalsyntax commented on #100
Closing issue, as labels seem to be working consistently again (maybe zulipbot was temporarily offline?); will reopen if issue reoccurs

[2017-06-21 03:19] #100 closed

[2017-06-21 16:21] synicalsyntax opened #107 "Merge conflict warnings aren't being made"
#5433 had merge conflicts, yet it received no warning even after two hours after the conflicting commit was merged.

[2017-06-21 20:45] lonerz commented on #107
Probably not our bug, but the error log file might be useful here. @timabbott when you get back, can you send that via chat.zulip.org?

[2017-06-26 16:03] synicalsyntax commented on #106
Hey @eeshangarg, sorry for getting back to you late. Just wanted to let you know that the way reviews/reviewers work is that you get automatically assigned as a reviewer on a PR if you [submit a review](https://help.github.com/articles/reviewing-proposed-changes-in-a-pull-request/) on it. Thus, there isn't a way to assign you as a reviewer on a PR without submitting a review on your part.

I think

[2017-06-26 16:03] synicalsyntax commented on #97
Closed in 4896868.

[2017-06-26 16:03] #97 closed

[2017-06-26 16:09] eeshangarg commented on #106
@synicalsyntax: Ah okay, but as a "collaborator", I can't assign myself to a PR unless it was submitted by me. So what me and Tim  had discussed was, what if I plan on reviewing something tonight and need to let him know that he doesn't need to because I eventually will when I get to a computer? Sort of a way of letting reviewers know that I have a PR in my queue for review? :)

[2017-06-26 16:10] lonerz commented on #106
You can use `@zulipbot claim`, like as above. @eeshangarg

[2017-06-26 16:11] eeshangarg commented on #106
@lonerz: Cool, sounds good! I guess that's the only option then! Thanks!

[2017-06-26 16:16] synicalsyntax commented on #106
@eeshangarg @lonerz Actually, we just deprecated claiming PRs with the `claim` command, but I'll push a quick commit to complete your feature request :)

[2017-06-26 16:26] #106 closed

[2017-06-26 16:33] synicalsyntax commented on #106
@eeshangarg Since zulipbot hasn't been synced with master yet, you can still use `@zulipbot claim` to assign yourself to a PR, but make sure to also run `@zulipbot remove "in progress"` to remove the "in progress" label that gets added to the PR.

[2017-06-26 22:06] #107 closed

[2017-07-11 03:40] refeed opened #113 "Dockerize zulipbot"
`zulipbot` is a server app, it'd be nice if it has been dockerized, we can run it just in a `docker run` command, in other words easy to deploy, and it also runs in a nice isolated environment.

[2017-07-11 03:47] lonerz commented on #113
@refeed this is a good idea!

[2017-07-30 02:29] #104 closed

[2017-07-30 19:02] synicalsyntax commented on #102
Closed in e4e6299 (duplicate merge conflict warnings had already been prevented in the first place)

Same behavior might be worth implementing for "no issue-referencing commits in a PR" warnings.

[2017-07-30 19:02] #102 closed

[2017-07-31 16:34] #103 closed

[2017-08-01 04:30] lonerz opened #114 "Check for commit message references is broken"
https://github.com/zulip/zulip/pull/5807#issuecomment-319262906

(I think this has been broken since the beginning.. however it is probably a nice feature to still have)

[2017-08-01 04:44] synicalsyntax commented on #114
Probably a lapse in the API, and this is the only time where this occurrence has happened. Closing issue.

[2017-08-01 04:49] lonerz commented on #114
We should probably only be checking the PR description and not all comments.

[2017-08-01 04:50] synicalsyntax commented on #114
We don't check comments for commit references?

[2017-08-01 04:52] lonerz commented on #114
No, the comments reference an issue and zulipbot tells them to put `Fixes: #1234` in one of the commits.

FYI: there's a merge conflict bug you recently introduced and we're talking about it on chat.zulip.org

[2017-08-01 05:24] synicalsyntax commented on #114
Cause pinpointed and determined to no longer relevant (has been fixed in recent commits to master) in the [discussion](https://chat.zulip.org/#narrow/stream/zulipbot/topic/merge.20conflict.20notices). Closing again.

[2017-08-01 05:24] #114 closed

[2017-08-24 03:28] lonerz opened #115 "Inactive PRs should not get merge conflict notifications"

[2017-08-24 03:30] lonerz opened #116 "Add in progress label when users self-assign issues via GH UI"
Prevents "ERROR: This issue has been assigned but is not labeled as being in progress."

[2017-08-24 03:32] lonerz opened #117 "Recheck for duplicate payloads"
[link to conversation](https://chat.zulip.org/#narrow/stream/zulipbot/topic/duplicated.20notices)

[2017-08-24 03:36] synicalsyntax commented on #116
Already implemented.

[2017-08-24 03:36] #116 closed

[2017-08-24 03:40] synicalsyntax commented on #117
There isn't an issue with duplicate payloads. The issue lies with the fact that payloads were delayed and once they were sent they no longer reflected the real-time data.

Additionally, considering zulipbot operates on one payload at a time doesn't keep track of what payloads it has received, it's not very much in the interest of the project as we'd have to implement some form of persistent data s

[2017-08-24 04:13] lonerz commented on #117
Makes sense. Persistent data storage may be a really nice long term project.

[2017-08-24 04:13] #117 closed

[2017-08-24 18:13] timabbott opened #118 "More precise check for "Fixes #1234" being in the wrong place"
For https://github.com/zulip/python-zulip-api/pull/85#issuecomment-324568735, we're bugging him because he mentioned an issue, but he's not claiming the issue was fixed, and so this isn't something we should be complaining about.  I wonder if we should just check for `fixes #123` in the commit message, not simply e.g. `#123`.

(See https://help.github.com/articles/closing-issues-using-keywords/)

[2017-08-24 18:37] #115 closed

[2017-08-24 19:41] lonerz commented on #118
Closed this on accident. Pretty much how this check works is if in a PR comment there's a reference like `#123` it looks in the commit messages to see if there exists a `Fixes #123` in it.

I would think that (1) we should probably see if the comment has "fixes" or any of the keywords before `#123` the reference

[2017-08-24 19:43] lonerz opened #119 "Make sure references are issues for "Fixes #1234" notifications"
For example in this [PR](https://github.com/zulip/zulip/pull/6258#issuecomment-324568841), someone references another pull request, so zulipbot shouldn't try to have the PR author to have `Fixes #1234` in their commit message.

Somewhat related to #118

[2017-08-24 20:34] synicalsyntax commented on #119
Duplicate of #118.

[2017-08-24 20:34] #119 closed

[2017-08-24 23:49] #118 closed

[2017-08-25 23:04] yanokwa opened #120 "Need improved documentation on how to configure zulipbot"
I would love to use zulipbot for an OSS project I maintain ([Open Data Kit](https://github.com/opendatakit)), but I it's unclear from [usage](https://github.com/zulip/zulipbot#usage) what should go in `src/config.js`

I've reviewed [src/zuplip_project_config.js](https://github.com/zulip/zulipbot/blob/master/src/zulip_project_config.js) for hints but only some of the keys make sense. Some of the qu

[2017-08-26 00:23] lonerz commented on #120
@yanokwa thank you for your interest in zulipbot! I will try my best to answer these questions, but I'm sure @synicalsyntax will be able to elaborate on points I don't make clear at first.

For `webhookSecret`, that is the secret you can provide for the GitHub webhook you have to configure that sends payloads from GitHub to the zulipbot server. You can read more about it [here](https://support.hoc

[2017-08-26 00:54] lonerz commented on #120
Also, I forgot to say that you can always talk to us on our [chat](https://chat.zulip.org/#narrow/stream/zulipbot). We are pretty quick to respond :)

[2017-08-26 21:30] synicalsyntax commented on #120
Hello @yanokwa, thanks so much for your interest in our project! @lonerz has answered some of your questions well, but I would like to offer additional clarification and insight to this issue.

Currently, @zulipbot isn't in stable condition as a codebase yet (hence why there have been no releases to date); in fact, it's undergoing a large round of refactoring to its configuration file setup on thi

[2017-09-12 05:33] synicalsyntax opened #122 "Breaking GitHub API changes inhibits automatic issue assignment to first time contributors"
Unfortunately, GitHub's [introduction](https://developer.github.com/changes/2017-08-23-repository-invitation-api/) of the Repository Invites endpoint has also resulted in the discontinuation of our ability to automatically grant first-time contributors read/pull access to a repository so that they can get automatically assigned their first issue.

There are three major ways that have been suggeste

[2017-09-13 18:51] #122 closed

[2017-09-18 18:58] yanokwa opened #123 "Multiple whitespaces between bot name and command are not ignored"
Multiple whitespaces between bot name and command are not ignored. This is tricky to detect because Github's UI throws away extra white spaces in comments. You can see this if you are able to edit the post.

**text**
works (one space between bot and claim: `@opendatakit-bot claim`
fails (two spaces between bot and claim): `@opendatakit-bot  claim`

**image**
![space](https://user-images.githubuser

[2017-09-18 19:47] lonerz commented on #123
Thanks for the issue report. We've experienced this before and probably should fix it. I think one way we can do this is using a simple `split()` at whitespace and just look at commands from there. @synicalsyntax what do you think?

[2017-09-18 20:17] synicalsyntax commented on #123
Will just implement greedy white space regex matching after I finish my bio midterm

[2017-09-19 00:47] #123 closed

[2017-10-02 02:42] lonerz commented on #92
@zulipbot claim,

[2017-10-14 20:28] sils opened #124 "Join forces with corobo"
hi, we're doing some stuff similar to this with corobo - maybe we should work together on sth?

CC @Meetmangukiya main corobo dev

[2017-10-14 20:33] lonerz commented on #124
@sils Hi! Do you all have a code repo that we can look at?

[2017-10-14 22:10] sils commented on #124
yeah, sorry https://github.com/coala/corobo

[2017-10-14 22:26] lonerz commented on #124
@sils Ah, interesting bot you have there! What are you interested in collaborating on?

[2017-10-14 22:26] synicalsyntax commented on #124
Your bot is written in Python, and our is in Node.js, so can you please elaborate on what exactly we could accomplish by merging? Migrating to an entirely different language might be counterproductive.

[2017-10-14 22:29] synicalsyntax commented on #124
Additionally, according to your README:

zulipbot's goal isn't to integrate with Errbot, but manage GitHub issues/pull requests for better productivity instead.

Would you be willing to chat with us on the #zulipbot stream on https://chat.zulip.org/? I think communication will be faster this way :)

[2017-10-14 22:29] sils commented on #124
I'm not entirely sure, maybe we can build one of our tools to suit both our usecases. I don't see us merging two completley different projects indeed. I don't know about @meetmangukyia, fun is a thing but most extreme case I can see e.g. us abandoning corobo if your tool works just as well for us but maybe it's just exchanging information on what we do and what we've learned while building that. O

[2017-10-14 22:39] lonerz commented on #124
Link to conversation: https://chat.zulip.org/#narrow/stream/zulipbot/subject/corobo/near/298578

[2017-10-14 22:39] #124 closed

[2017-10-16 00:21] patcon opened #125 "[question] how does this compare with what's possible via using protected branches"
This seems really exciting! I've recently started investigating protected branches, so I'm wondering if you all have put much thought into comparing and contrasting how the approach of this bot works vs protected branch workflows.

Would this approach be similar:
- enable protected branches on `master` (and any other)
- set protected branch to require feature branches (ie. no pushing to master by

[2017-10-16 02:41] lonerz commented on #125
We push to `master` a lot on `zulip/zulip`, so this wouldn't work very well for us at Zulip.

I'm still trying to get my head around the issues that this solves however.

[2017-10-16 04:20] synicalsyntax commented on #125
@patcon Hey there, thanks for checking out zulipbot!

From my understanding, protected branches allow people to push new branches to a repository, but I believe that giving users write access to the repository still creates permission issues.

Specifically,
1. For projects that involve forked-repository-based workflows, contributors might accidentally push their feature branches to the main repo a

[2017-10-16 19:51] patcon opened #126 "Investigate implementing Zulipbot as a probot plugin"
Just wanted to put it on your radar:
https://probot.github.io/docs/

Probot is an [as yet unreleased?] project of GitHub that aims to aims to make easy just the sort of automation that Zulipbot does. It doesn't do anything out of the box, but is intended to be modular.

Potential benefits off top-of-head:

- less code to maintain
- taking the blessed path of GitHub (which their developers are work

[2017-10-16 19:54] patcon commented on #126
Oh, one more:

- allow folks to install zulipbot features thought github UI without messing with config files

[2017-10-16 20:15] patcon commented on #125
Ok, just summarized this for myself and anyone else. Thanks for your consideration! Helped me understand the pros and cons :)

Note: I will admit that I see (1) and (3) as mitigatable concerns, as 1) it's non-destructive, correctable, and similar remediation effort as a contributor opening a dup issue, and 3) would take much less automation to resolve on its own than zulipbot involves, eg. chatbot

[2017-10-16 20:15] #125 closed

[2017-10-17 16:10] synicalsyntax commented on #126
It looks we'd have to provide hosting support for any apps we put up on probot? Not sure if this is within our interests.

This is my main concern with making zulipbot into a GitHub App; we use repository webhooks to respond to GitHub events, and some endpoints (like the "member" event) aren't available to GitHub Apps. So once GitHub expands its API, I'd be interested in reconsidering this prospec

[2017-10-17 16:10] #126 closed

[2017-10-17 20:00] patcon commented on #126
Cool, that makes sense!

fwiw, hosting is on heroku, and so the app wakes up when hit by webhooks. So it would need the 24-hour hobby dyno for $7/month. I assume that tulipbot has activity regularly enough that it would be using the 24 hours anyhow, so it would simply let others use the bot you are using anyhow.

But I mean, if you want to leave room to break zulipbot and not have it be a bit issu

[2017-10-18 01:48] yanokwa opened #127 "Bot sometimes doesn't remind inactive users"
Sometimes, our bot reminds people when they are inactive:
https://github.com/opendatakit/collect/issues/170#issuecomment-332158548

Sometimes, it doesn't:
https://github.com/opendatakit/docs/issues/97#issuecomment-332518804

Here is our config:
https://github.com/opendatakit/zulipbot/blob/master/src/config.js#L34

And the original bug report:
https://github.com/opendatakit/docs/issues/298

[2017-10-18 01:51] lonerz commented on #127
One thing that is interesting is that the two comments are in different repos, but seems like you have added both repos in the config file.

[2017-10-19 07:43] lonerz opened #128 "Inactivity check doesn't account for closed issue references"
If an issue is closed, it is automatically disregarded as a reference. So, if someone claims an issue 8 days ago, opens a PR that references the issue 6 days ago and that PR gets merged and closed, zulipbot still comments on the original issue as it being inactive.

See https://github.com/zulip/zulip/pull/6542

[2017-10-25 17:09] synicalsyntax commented on #128
I'm not sure what the context for the issue is, but why is the closed PR being updated when a new followup PR can be created instead?

Regardless, checking for closed PRs would be very, very expensive request-wise (currently 4268 closed PRs in zulip/zulip repo) and I don't think they should be checked for references.

[2017-10-25 17:09] #128 closed

[2017-10-25 17:16] synicalsyntax commented on #127
@yanokwa Sorry for the late reply, school has been keeping me busy lately!

Our bot updates regularly without issue, so I think this might be something to do with Heroku instead. Can you check your application logs to see if your application does regular automated restarts (say, once or twice a day)?

[2017-10-29 23:08] synicalsyntax commented on #127
Closing due to lack of response. Bot seems to be properly working on commit 97f4a723c according to responses on zulip/zulip#7021 and zulip/zulip#6542.

[2017-10-29 23:08] #127 closed

[2017-10-30 20:37] yanokwa commented on #127
Sorry about the delayed response. The Heroku instance does seem to restart regularly...

[code]

[2017-10-30 20:49] synicalsyntax commented on #127
Thanks for providing the logs! Heroku's automated restarts were the root of your issue; everytime your bot restarts, the inactivity check timeout is reset.

Given that Heroku restarts about once every 1-2 hours, you'll want to change `checkInactivityTimeout` from a value of 6 to 1 so that the bot performs inactivity checks more often (once every hour) so that it's likely to perform a check before

[2017-11-09 02:49] lonerz opened #129 "Check commit message should make sure referenced number is an issue"
Currently, we just check for keywords and then automatically take into account the number as an issue. However, it may not necessarily be an issue, so make sure to check if it is an issue.

Example: https://github.com/zulip/zulip/pull/7333

[2017-11-09 02:51] lonerz commented on #129
@zulipbot label "bug"

[2017-11-09 03:10] synicalsyntax commented on #129
According to the GitHub UI, zulip/zulip#7333:

![screenshot at nov 08 18-55-13](https://user-images.githubusercontent.com/15116870/32586556-0274a3ca-c4b8-11e7-9317-d51f95531a97.png)

Our goal with the issue reference checks is to mock GitHub's [closing issue keywords](https://help.github.com/articles/closing-issues-using-keywords/) as much as possible, and I'm not sure if we want to deviate from G

[2017-11-09 03:10] #129 closed

[2017-11-27 23:29] yanokwa opened #132 "Heroku push failing because of node version?"
I'm not a node expert, so I'm not sure what the problem is here...

[code]

[2017-11-28 01:01] #132 closed

[2017-11-28 01:02] synicalsyntax commented on #132
@yanokwa Hey, thanks for reporting this! Looks like Heroku now supports Node v9 and installs it by default, but some packages we depend on can't rely on Node v8; edited the semver to let Heroku know that. :)

[2017-12-08 07:13] rishig opened #134 "Pull labels from issue into the pull request."
It would be great if we could automatically pull the `area: *`, `bug`, `priority: *`, and `GCI task` labels from into the PR, from the issue(s) it fixes.

I imagine you may want to implement this as a blacklist in the configuration instead of as a whitelist as suggested by the list above; that's totally fine. Mainly I just don't want the `good first issue`, `help wanted`, etc labels that are on mo

[2017-12-08 07:16] rishig opened #135 "Automatically add size labels to PRs."
Label PRs with how "big" they are, in terms of number of lines of code changed. Ideally we could exclude tests (configuration-wise, I would imagine just having a list of directories that get excluded).

In that case, some thresholds to start with might be
XS for <= 5
S for <= 25
M for <= 50
L for <= 100
XL for > 100

though probably we'll want to tweak those over time.

https://chat.zulip.org/#nar

[2017-12-08 07:45] rishig opened #136 "Require --force to claim an issue without "help wanted""
We've started getting a lot of contributors claiming issues that don't have the `help wanted` label.

It would be great to automatically respond to `@zulipbot claim`s on those messages with:
[code]

[2017-12-11 11:22] VibhorCodecianGupta commented on #136
@zulipbot claim

[2017-12-11 17:31] rishig opened #137 "Don't automatically switch from "reviewed" to "needs review"."
Currently we switch the label from `reviewed` to `needs review` when someone pushes new changes to their branch. It would be better to require an explicit action from the contributor, like `@zulipbot request review`, for already reviewed PRs.

See https://chat.zulip.org/#narrow/stream/zulipbot/topic/zulipbot.20review for more discussion.

[2017-12-11 17:34] rishig opened #138 "Restrict new contributors to claiming 1 issue."
If you haven't merged anything to a zulip repo, zulipbot should not allow you to claim more than 1 issue (ideally one issue across the zulip org, but gating on a per-repo basis is also totally fine).

[2017-12-12 21:19] rishig opened #139 "Allow either PR or commits to reference issue, for activity determination."
Currently, we require both the PR comments and the commits of the pull request to reference an issue, for zulipbot to count it as a reference. We should change "both" to "either".

See https://chat.zulip.org/#narrow/stream/zulipbot/subject/inactivity.20warning/near/381494 for more discussion.

[2017-12-12 21:24] rishig opened #140 "Do not mark issue as inactive if referenced PR is in a "needs review" state."
If it takes 10 days to review a PR, we shouldn't bother the contributor about it. The clock for inactivity should start at the last point at which the "needs review" label is removed.
See conversation at https://chat.zulip.org/#narrow/stream/zulipbot/topic/inactivity.20warning.

[2017-12-14 01:28] cPhost opened #141 "Zulipbot does not work as expected when sending repo invites"
Sometimes when we claim and issue by @-zulipbot claim it comments stating you "we just sent you an invite to collaborate" and then when you actually click the link it does not work.

Happened two times.
Refs: https://github.com/zulip/zulip/issues/7567#issuecomment-350135417
Refs: https://github.com/zulip/zulip-mobile/issues/1455#issuecomment-351500999

[2017-12-14 02:23] synicalsyntax commented on #141
So, this is either GitHub fault's for neither registering an invite nor throwing an error to let us know that invite creation failed or ours for not handling any errors returned from the API. I think it's the former, since there are only 2 instances of this happening among dozens of invites sent and the issue is not reproducible on my end. I'll have a better idea when I get to see the log output,

[2017-12-14 05:40] #120 closed

[2017-12-14 20:45] synicalsyntax commented on #141
Looks like the GitHub API threw back an internal server error to the request. Closing the issue as it isn't our fault.

[2017-12-14 20:45] #141 closed

[2017-12-19 13:33] VibhorCodecianGupta commented on #136
@zulipbot abandon

[2017-12-19 17:24] VibhorCodecianGupta commented on #140
@zulipbot claim

[2017-12-20 13:39] VibhorCodecianGupta commented on #140
Hi @synicalsyntax , I reviewed the code on your suggestions and I think that in `scrapeInactiveIssues`, right after there is an iteration over issues, before it checks whether `inactiveLabel` is present or not, a check needs to be put in place, which would fetch the reviewed/needs review status of the PR.
Only if it has been reviewed, will the code proceed to start the clock.

[2017-12-25 06:45] #139 closed

[2017-12-25 18:51] synicalsyntax opened #143 "bug: Debug inactivity checks."
Since the most recent round of refactoring, inactivity checks haven't automatically triggered.

[2017-12-25 19:14] #143 closed

[2017-12-29 16:51] yanokwa commented on #120
Congrats on shipping the new config system, @synicalsyntax! Zulipbot has make working on Open Data Kit a lot easier and we really, really, really appreciate your hard work.

[2017-12-30 18:41] #138 closed

[2017-12-30 22:28] #137 closed

[2017-12-30 22:29] synicalsyntax commented on #137
@rishig Instead of creating separate commands for the sake of label manipulation, contributors and reviewers should just be using `@zulipbot label "needs review" @zulipbot remove "reviewed"`, or vice versa, as necessary.

[2018-01-03 05:38] #135 closed

[2018-01-06 05:59] vedantrathore commented on #105
Hello, I would like to tackle this issue. I had a question though, if there are multiple CSS files changed in a PR then screenshot should include which page(s)?

[2018-01-06 09:33] vedantrathore commented on #105
@zulipbot claim

[2018-01-06 21:53] #134 closed

[2018-01-09 00:11] #140 closed

[2018-01-13 17:26] #136 closed

[2018-01-13 17:26] #113 closed

[2018-01-13 17:26] #56 closed

[2018-02-03 19:14] lonerz opened #145 "Make multiple person claiming configurable"
The main issue is that new users will zulipbot claim an issue that has already been claimed, and then the person who is working on it has to go and say "hey, new-user, I'm working on this", which is sort of an awkward interaction. It's especially awkward I think when the old user has a completed PR, that's just waiting for review. E.g. sometimes they'll submit a PR, wait a week, and the first noti

[2018-02-05 07:42] rishig opened #146 "Remove the --force option for issues claimed without help wanted."
We can just change the text from
[code]
to
[code]

[2018-02-10 06:30] lonerz opened #147 "area labels and area team messages messed up"
It seems like zulipbot is mentioning and adding the correct area team and area label but then suddenly editing its comment and removing the label.

Link to [conversation](https://chat.zulip.org/#narrow/stream/zulipbot/subject/PR.20labels/near/487627)

[2018-02-10 06:32] lonerz opened #148 "Don't allow users with < 20 commits claim issue without help wanted label"
Link to [conversations](https://chat.zulip.org/#narrow/stream/zulipbot/subject/help.20wanted.20bug/near/490733)

[2018-02-12 19:58] abhigyank opened #149 "Fix failing invitation when claiming second zulip issue in a different zulip repository"
It seems if one is already a collaborator on one project and tries `@zulipbot claim` on another repo, invitations are not sent to the account for collaborating for that repo.
[Discussion here](https://chat.zulip.org/#narrow/stream/general/topic/Github.20Invititations)

[2018-02-12 20:07] amanagr commented on #149
Relevant Chats :
 - https://chat.zulip.org/#narrow/stream/general/subject/Github.20Invititations/near/493675
 - https://chat.zulip.org/#narrow/stream/issues/subject/.238054/near/478886

Reproducing the error:
 - The user claims and accepts his first issue in zulip/X repo.
 - User claims his 2nd issue in zulip/Y repo.

Problems:
 - User doesn't receive the invitation send time.
 - Gets this error:

[2018-02-14 18:50] yanokwa opened #150 "Introduction of two lock files causes Heroku deploy to fail"
We've fixed this by removing yarn.lock since it's used just for Travis, but figured this should be documented somewhere?

[code]

[2018-02-16 07:11] VibhorCodecianGupta commented on #145
@zulipbot claim

[2018-02-16 08:52] VibhorCodecianGupta commented on #145
One solution that comes to mind is modifying `claim.js`, placing an if block and checking for `inProgress` label. If already present, a template can be rendered. Thoughts?
@synicalsyntax @lonerz

[2018-02-17 01:00] synicalsyntax commented on #145
@VibhorCodecianGupta You'd need to add a configuration setting and check for its boolean value, then check how many people are listed as issue assignees (`payload.issue.assignees`); if the setting is true and there is at least 1 person listed as an assignee, reject the claim. Source code should be in`claim.js`.

[2018-02-17 20:18] #149 closed

[2018-02-17 20:43] #150 closed

[2018-02-17 20:44] synicalsyntax commented on #150
Thanks for pointing out the issue! Hope this resolves your Heroku deployment issue.

[2018-02-18 10:14] VibhorCodecianGupta commented on #145
@zulipbot claim

[2018-02-19 11:35] VibhorCodecianGupta commented on #148
< 20 commits here would be on the user's profile, right? (I'm assuming it does not mean 20 commits made in Zulip repositories)

[2018-02-20 04:28] lonerz commented on #148
It should mean 20+ commits in Zulip repos. However you should ask on Zulip
to double check with Rishi @rishig

Sent from mobile. Please excuse any typos.

On Feb 19, 2018 3:35 AM, "VibhorGupta" <notifications@github.com> wrote:

[2018-02-22 05:17] #145 closed

[2018-02-25 19:13] #147 closed

[2018-02-27 07:01] Shivamgera commented on #146
@rishig  Can I work on this?

[2018-03-02 09:51] VibhorCodecianGupta commented on #148
@zulipbot claim

[2018-03-09 18:44] timabbott opened #152 "Buggy notices about `****` teams"
https://github.com/zulip/zulip/pull/8638#issuecomment-371832378

I think this might be the size labels?

[2018-03-12 05:29] VibhorCodecianGupta commented on #152
Hello sir, what exactly seems to be the problem here?

[2018-03-12 20:13] timabbott commented on #152
@VibhorCodecianGupta zulipbot shouldn't be sending notices with the empty string as the team name; it's a clear bug.

[2018-03-16 18:27] yanokwa opened #153 "Versioned releases"
I try to keep my fork in sync with the upstream, but I don't always know when the code is stable enough to push to production. Would it be possible to have versioned releases? Maybe with a change log?

[2018-03-19 03:34] synicalsyntax commented on #152
I haven't seen a team error since the comment in #8638, which coincidentally one of the last PRs opened before the most recent zulipbot deploy (with commit 09281c89, which should've fixed this issue). I will tentatively close this, but feel free to reopen if you notice more errors.

[2018-03-19 03:34] #152 closed

[2018-03-19 03:37] synicalsyntax commented on #153
Yeah, it's definitely reasonable to have alpha/beta releases. I don't think we'll want to release an official v1 until we get full test coverage, but it's been a priority for a while now! Thanks for the suggestion; I'll close this issue when I make a release :)

[2018-03-19 04:58] #146 closed

[2018-03-23 03:28] VibhorCodecianGupta commented on #148
I'm still working on this!

[2018-03-29 20:01] timabbott opened #154 "Allow "good first issue" as well as "help wanted" for new contributors"
This seems like a cleaner definition, since some repositories may only use "good first issue", and it's clear that should imply "help wanted".

Relevant to https://github.com/zulip/zulip/pull/8541#issuecomment-369996370

[2018-03-29 23:50] #154 closed

[2018-03-29 23:51] synicalsyntax commented on #154
Feel free to send in a PR for modifying the config next time :)

[2018-04-20 19:51] showell opened #155 "Avoid false warnings for "have not referenced that issue in your commmit message"."
See https://github.com/zulip/zulip/pull/9091 for context.

@timabbott merged my first three commits there (probably from his laptop) and closed the relevant issue that I mention in the description.  But he left two commits to merge later (for context, it was right before a release, but as you know, he'll often merge just the first couple commits).

Later zulipbot gave me a warning that I haven't u

[2018-04-20 19:59] synicalsyntax commented on #155
Looks like you still reference the issue in the pull request description but the debased commits don't mention th  issue. I think we can solve this by warning only if the issue is still open.

[2018-05-04 15:18] timabbott opened #156 ""Active issue has no assignee" errors"
See for example this:

https://github.com/zulip/zulip/issues/9148#issuecomment-386582300

[2018-05-04 15:59] lonerz commented on #156
Should we just remove the "in progress" label?

Sent from mobile. Please excuse any typos.

On Fri, May 4, 2018, 8:22 AM Tim Abbott <notifications@github.com> wrote:

[2018-05-04 16:06] timabbott commented on #156
In this case?  Yeah, probably.

[2018-05-19 19:17] #156 closed

[2018-07-01 02:36] #155 closed

[2018-07-10 21:30] otester commented on #153
@zulipbot claim.

[2018-07-10 21:31] otester commented on #14
@zulipbot claim.

[2018-07-10 21:34] otester commented on #153
@zulipbot claim --force

[2018-07-12 15:14] jainkuniya opened #157 "Add label conflict to PR, if conflicts arrises to the PR"
It will be great, if could add label `conflict` to PR, if conflicts arrises to the PR.
It will help a lot when there are tons of PR, and author is in the mood of rebasing all the PR, he don't have to narrow to each PR for finding PR with conflicts one. Also will be easier for maintainer to filter out updated/outdated PR's.

This can be achieved in two steps:
* Step 1:
Currently we are already comm

[2018-07-12 15:14] jainkuniya commented on #157
@zulipbot label "feature request"

[2018-07-12 15:15] jainkuniya commented on #157
@zulipbot label "new feature"

[2018-08-07 17:14] timabbott opened #159 "Add the issue number in "reference in commit message" warnings"
This has been annoying me for a while too:
https://github.com/zulip/zulip/pull/10224#issuecomment-411130816

[2018-08-07 21:05] #159 closed

[2018-08-07 22:38] #157 closed

[2018-08-09 04:28] synicalsyntax commented on #153
First alpha version [released](https://github.com/zulip/zulipbot/releases/tag/v1.0.0-alpha)! :)

[2018-08-09 04:28] #153 closed

[2018-08-26 19:04] omi10859 commented on #148
If no one is working on this I can help

[2018-09-11 07:56] gazhayes opened #160 "problem: unhandled promise rejection"
Problem: there's an unhandled promise rejection.

Am I doing something wrong?
[code]

[2018-09-11 11:35] gazhayes commented on #160
Fixed here in case anyone else is having this issue: https://github.com/EmurgoHK/emurgobot/pull/3

[2018-09-11 18:10] lonerz commented on #160
Thanks! @synicalsyntax can you check out the PR and maybe merge our own copy?

[2018-09-18 00:02] jackrzhang opened #161 "`add` command does not work."
Reported in chat [here](https://chat.zulip.org/#narrow/stream/105-zulipbot/topic/label.20was.20not.20added).

I haven't been able to add labels to issues in both the server and mobile repositories; see https://github.com/zulip/zulip/issues/10500, which I opened 6 days ago, and https://github.com/zulip/zulip-mobile/issues/2962, which I opened today.

[2018-09-18 00:02] jackrzhang commented on #161
@zulipbot add "bug"

[2018-09-18 00:05] jackrzhang commented on #161
^ just for another data point 🙂, `add` doesn't on this repository either.

[2018-09-18 00:07] jackrzhang commented on #161
Oh, it just worked on this repository. Hmm..

[2018-09-18 00:13] jackrzhang commented on #161
I just tried again to add labels to https://github.com/zulip/zulip-mobile/issues/2962 - it still does not work there.

[2018-09-18 01:07] synicalsyntax commented on #161
@jackrzhang zulip-mobile isn't listed as an active repository in the configuration file, so all commands are ignored in that repository. I believe @borisyankov requested that we remove it from active repositories to disable issue inactivity checks.

[2018-09-18 01:33] jackrzhang commented on #161
Thanks for explaining! I think the actual issue I have in mind, then, is a new feature that allows for inactivity checks to be disabled for specific repositories. There's a lot of lost utility in disabling the entire bot to avoid one of the features.

I'm not very familiar with the Github API. Would something of the sort be possible? If it is, I can open a new issue for it.

[2018-09-18 20:47] lonerz commented on #161
Yea, I don't think there's currently a way to disable inactivity checks for a certain repo.

[2018-09-18 21:06] synicalsyntax commented on #161
@jackrzhang Well, right now we just ignore payloads from any inactive repositories, so we can just delete that line to continue accepting commands on those repositories. It's a one line change.

[2018-09-18 21:10] synicalsyntax commented on #160
@gazhayes Just curious; are you using GitHub webhooks to deliver your payloads? We can't reproduce those errors with the zulipbot payloads delivered through Github Apps.

[2018-09-18 22:05] jackrzhang commented on #161
For more context on chat.zulip.org, [here's the #mobile-team topic for zulipbot](https://chat.zulip.org/#narrow/stream/243-mobile-team/topic/zulipbot).

[2018-09-18 22:05] jackrzhang commented on #161
@gnprice

[2018-09-18 22:10] gazhayes commented on #160
Yeah we're using webhooks. Hmmmm, @anbud might be able to help here.

[2018-09-18 22:12] synicalsyntax commented on #160
I'll look into seeing if I can reproduce through webhooks, thanks for the info :)

[2018-09-18 22:20] jackrzhang commented on #161
Based on the conversation in chat, here's a tentative list of zulipbot features that are, or would be, useful for the mobile team:
- The `claim` and `abandon` commands
- The `add` and `remove` commands, which I try to use frequently
- An option to disable inactivity checks, though I feel the same as @gnprice in that I'm torn on this
- Size labels - I imagine 5 categories: `XS`, `S`, `M`, `L`, `XL`

[2018-09-19 09:28] anbud commented on #160
The problem was [here](https://github.com/EmurgoHK/emurgobot/pull/3/files#diff-380c87cd68b27db98ce4ac031a403ebbR47), `payload.assignee` was always undefined, as there's no `assignee` field in the payload. But, there's an `assignee` field in `payload.issue` which is either null or the actual asignee. So, changing that line fixed the issue.

[2018-09-20 17:00] synicalsyntax commented on #160
@anbud In my repository's webhooks, `payload.assignee` is always present. For example:

[code]

I have no idea why your webhook payloads don't contain the `assignee` field; all my webhook payloads contain them :\ I'm not sure if it's a bug in the GitHub API or something else.

Can you send me the content of a webhook payload with the `action` field specified with a "assigned" value?

Also, even th

[2018-09-20 17:03] synicalsyntax commented on #161
Thanks for letting me know your desired settings! This fits more in of our long-term goal of refactoring the configuration system to allow creating per-repository configuration files (after we add codebase coverage), so I'm not sure how fast I can implement this. I'll be sure to update the mobile team as soon as is done though :)

[2018-09-20 17:08] synicalsyntax commented on #160
Also, regarding `payload.issue.assignee`: its value is always set to the first user that the issue was assigned to, and it still persists when someone is assigned and there are no more assignees on the issue, so it isn't the best solution. The only reason we're checking the assignee's in the first place is because of a GitHub API bug that breaks the `in progress` label removal whenever there's no

[2018-09-20 18:33] gazhayes commented on #160
weird, @anbud could it be anything specific to our repos or deployment?

[2018-09-20 19:28] jainkuniya commented on #161
Adding one more:

I will like is: when any issue is mentioned in the commit msg or PR (like Fix: #1234) then change in progess label on the issue to pr ready.

Use case:
Sometimes I am pretty much excited to review PR of some exciting issues, but i am not sure, whether PR for this issue is submitted to not (as label is still in progress). So I have to narrow to all those issues to find a PR for th

[2018-09-20 20:28] anbud commented on #160
I've just browsed through old webhook logs and the thing is, it wasn't raising this exception when the `action` field was `assigned`, it broke when the `action` field was `created` or something similar.

For example, here are a few payloads which caused this exception and 500 response: [example1](https://ybin.me/p/3cf7f4ecb799f721#eeiXvdwPLEGpDKSei5B4Oah3P2T1byTTCngujClpszM=), [example2](https://y

[2018-09-20 20:40] synicalsyntax commented on #160
@anbud Ah, issue makes more sense now. So it looks like on your commit, we're just calling the in progress label switch regardless of the issue payload action, which results in assignee sometimes being undefined. If you upgrade to the most recent commit, this issue should be resolved. (It also seems like we faced this assignee issue early on; the specific commit that fixes it is 9be4a7f98e). Pleas

[2019-02-13 04:21] Sai-Adarsh commented on #105
@lonerz i'm interested, could you help me with the issue?

[2019-02-18 20:47] vsvipul opened #163 "Improve installation documentation"
Currently, the documentation available [here](https://github.com/zulip/zulipbot/wiki/Installation) is highly minified. It would be great if someone could make a better documentation on how to host the server on AWS or heroku with screenshots at each step, so that it becomes easier for orgs to setup zulipbot in their respective orgs.

I myself, wasn't able to get it in one go. But after little bit

[2019-02-18 20:48] vsvipul commented on #163
@zulipbot  add "good first issue" "enhancement" "documentation"

[2019-02-18 20:50] vsvipul commented on #163
@synicalsyntax i am willing to create a doc based on heroku, but where do i create. currently, the installation instructions are in wiki. How can i change that ?

[2019-03-03 15:20] jniles commented on #163
Well, I finally got this working.

The documentation for webhook installation is misleading.  You need to append the "/github" to the server URL to get it to receive messages and not just silently error with 404.

How does one contribute to the wiki so that I can add this?

[2019-03-23 00:58] Harshithpabbati commented on #163
@zulipbot claim

[2019-03-23 00:58] Harshithpabbati commented on #163
@zulipbot abandon

[2019-04-01 12:48] vsvipul opened #164 "Limit the number of issues a contributor can claim"
Currently, anyone who has 1 merged PR can claim any amount of issues to work on. This might not be viable as in small projects, someone might claim all the issues. We need to put a limit on the number of issues that can be claimed by a contributor.

More discussion [here](https://chat.zulip.org/#narrow/stream/105-zulipbot/topic/limiting.20number.20of.20claims.20by.20a.20user)

[2019-04-01 13:17] vsvipul commented on #164
@zulipbot label "config" "enhancement"

[2019-04-02 01:29] #164 closed

[2019-07-26 21:14] thedeveloperr opened #165 "Unassigned before 14 days and without notifying"
Zulipbot unassigned from issue 8859 of Zulip repo before the 14 days deadline. I also didn't get a notification as far as i remember. I noticed it when the issue was not in my assigned issues list on GitHub.

Please See this issue and issue comment:
https://github.com/zulip/zulip/issues/8859
https://github.com/zulip/zulip/issues/8859#issuecomment-512599303
https://github.com/zulip/zulip/issues/885

[2019-07-26 21:15] whoodes opened #166 "Not ignoring updates to pull requests with "WIP" in the title"
The discussion can be found here:
https://chat.zulip.org/#narrow/stream/9-issues/topic/zulipbot/near/773080

There seems to be a bug related to ignoring WIP PRs. For example:
* A WIP PR can receive a `has conflicts` label (which it shouldn't, if it is being ignored), but it will not have it removed when conflicts are resolved.
* A WIP PR receives new `size` labels upon updating.

Along with genera

[2020-04-28 18:13] timabbott opened #172 "Replacing "travis updates" label feature with a similar one for circile"
We just removed documentation for the `travis updates` label for notifications, since we stopped using Travis CI.  It's probably worth re-adding the feature connected to CircleCI.

[2020-05-05 00:46] gnprice opened #173 ""no assignee" spam"
Zulipbot posted on zulip/zulip#12309 a series of error messages reading:

A few days before that, Zulipbot itself had unassigned the person who had been assigned.

I fixed it for that issue by removing the "in progress" label. But Zulipbot should probably have done that in the first place.

[2020-05-05 00:49] gnprice commented on #173
Oh, and now I notice another anomaly on that thread:

On 2020-04-14, Zulipbot made a comment saying:

But in fact it didn't do any unassigning then. It was only on 2020-04-20, six days later, that it actually unassigned the person.

That may be a clue to the issue.

[2020-05-05 00:55] gnprice commented on #173
And *another* anomaly -- though I have a guess as to the cause of, and if my guess is right then it's not a bug exactly but a UX subtlety without a simple complete fix:

A couple of days before that Zulipbot comment, @ryanreh99 had in fact posted a PR (zulip/zulip#12309) that addressed the issue. So why did Zulipbot make such a comment at all?

I suspect the answer is that while the PR description

[2020-05-05 01:43] ryanreh99 commented on #173
It seems like using "Closes" in the PR / commit message also has an anomaly.
The PR for issue [zulip/zulip#526](https://github.com/zulip/zulip/issues/526) does link to the issue.

**Jan 1** - zulipbot posts a message. (this is correct)

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from th

[2020-05-05 01:50] ryanreh99 commented on #173
Both the above 2 mentioned issues had PRs containing the word "WIP" in the title.
I think this is related to #166

[2020-05-05 02:09] gnprice commented on #173
Ah, good find!

And from the [chat thread](https://chat.zulip.org/#narrow/stream/9-issues/topic/zulipbot/near/773080) linked from that issue:

So that may explain why Zulipbot wanted to unassign that issue in the first place -- which just leaves:
* why it didn't actually unassign when it made the "you have been unassigned" comment
* why it didn't remove the label when it did unassign

Also that sp

[2020-06-11 19:50] amanagr opened #176 "Comment a good public stream to discuss the issue after an `area` tag is applied."
Once an issue has `area` tag, comment a good public stream to discuss the issue based on the tag.

For e.g., a good place to discuss this issue would be https://chat.zulip.org/#narrow/stream/105-zulipbot/topic/stream.20to.20discuss.20the.20issue

[2020-07-07 18:11] aero31aero opened #177 "Removes all assignees incorrectly"
If a user is assigned using the GitHub UI, they shouldn't be unassigned by zulipbot, but that's what happened for https://github.com/zulip/zulip/pull/15416 where I had assigned myself 5 days prior to being automatically removed with the other contributor.

We can use https://chat.zulip.org/#narrow/stream/105-zulipbot/topic/removing.20all.20assignees for discussion.

[2020-07-21 16:53] Gittenburg opened #180 "Get rid of "Hello @____ members" issue comments"
They are annoying.

[2020-09-10 09:21] Gittenburg opened #184 "Command to move issues to other repos"
Every now and then some users open an issue at zulip/zulip which should be at zulip/zulip-desktop or zulip/zulip-mobile. It would be cool if you could do something like:

@zulipbot move zulip/zulip-desktop

instead of having to annoy someone with the privileges of moving issues cross repo.

[2021-01-22 20:56] andersk opened #189 "Support default branch names other than master"
GitHub is [changing](https://github.com/github/renaming) the default branch name from `master` to `main`, and we intend to update our repositories as such. To enable this, we’ll need to fix the hard-coded references to `master` in zulipbot, most importantly this one:

https://github.com/zulip/zulipbot/blob/39b257ee804f2216763e6320a4a21ff09816d914/src/events/push.js#L3

[2021-01-25 14:55] synicalsyntax commented on #189
Agreed, will get to work on it ASAP :)

[2021-01-26 00:46] #189 closed

[2021-02-14 23:16] ahmedabuamra commented on #173
this [https://github.com/zulip/zulip-terminal/issues/687](issue) has no linked PRs and the bot posts the same comment/error.

[2021-03-25 09:04] amanagr opened #193 "Block non-member from adding labels to issues."
Zulipbot shouldn't allow contributors who are not member of the Zulip organization to add labels to issues. For example, we don't want new contributors to set labels like 'good first issue'.

[2021-05-06 18:25] timabbott opened #195 "Block issues from being claimed that are already closed"
See https://github.com/zulip/zulip/issues/13480#issuecomment-823023758 for an example.

[2021-09-27 16:44] johanehinger opened #210 "Wrongful assignation when explaining how Zulipbot works"
I believe this is a bug. When explaining how to claim an issue using Zulipbot in the Github comments (i.e. the claim command)  Zulipbot recognizes this as an attempt to claim the issue, even though it is expressed inside of a code snippet like this:

[code]
Which in turn obviously produces the following statement:

[code]
To see this unexpected behavior in action you can have a look at the issue

[2021-09-27 16:49] johanehinger commented on #210
It almost appears that Zulipbot is trying to prove my point here inside this discussion thread. Simply pointing out this unexpected behavior gets misinterpreted as an attempt to claim the issue. Let me know what you think of this.

[2021-10-01 08:24] synicalsyntax commented on #210
We handle codeblock command escaping here: https://github.com/zulip/zulipbot/blob/main/src/events/issue.js#L40 It looks like since you're including a language tag (console) after the 3 starting backticks, zulipbot fails to recognize the command as being inside a command.

Can probably switch to a regex to fix this.

[2022-07-06 17:25] dronmaxman opened #220 "Bot does not respond to "quote" messages"
Hi everybody. I want to copy messages from the zulip channel to redmine, through a quote. The user writes a message, I quote this message and add a bot.

Example
![Screenshot 2022-07-06 at 20 22 59](https://user-images.githubusercontent.com/15871669/177608091-6cca7e98-5671-47e7-b248-84baf32100e2.jpg)

The bot ignores such messages.
[code]
How to process such messages?